.item{
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: var(--light-100);
  transition: all 0.3s ease-in-out;
  &:nth-child(6){
    margin-top: 36px;
  }
  &:nth-child(7){
    margin-bottom: auto;
  }
  &:hover{
    color: var(--primary-500);
  }
}