.header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}

.userName {
  font-weight: 600;
  margin-right: 5px;
}

.actions {
  color: var(--light-100);
}

.moreButton {
  color: var(--light-100);
  padding: 0;
}
