.avatar {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.sizeS {
  width: 24px;
  height: 24px;
}

.sizeM {
  width: 32px;
  height: 32px;
}

.sizeL {
  width: 48px;
  height: 48px;
}
