.navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  row-gap: 26px;
  padding: 72px 0 110px;
  min-height: 100%;
  border-right: 1px solid var(--dark-300);
  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    span {
      display: none;
    }
  }
}
.active {
  color: var(--primary-500);
}
