.trigger {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 100%;
  width: fit-content;
  height: 36px;
  background: none;
  border: 1px solid var(--dark-100);
  font-size: var(--font-size-m);
  color: var(--light-100);
  border-radius: 2px;
  outline: none;
  padding: 8px 12px;
  cursor: pointer;
  position: relative;

  .arrowDown {
    position: static;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  &[data-state='open'] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--dark-500);
    border-color: var(--light-100);

    .arrowDown {
      transform: rotate(180deg);
    }
  }

  &:not([data-state='open']) {
    .arrowDown {
      transform: rotate(0);
    }
  }

  &[data-disabled] {
    color: var(--dark-100);
    cursor: default;
  }

  span {
    display: block;
    padding: 0 28px 0 12px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.content {
  min-width: var(--radix-select-trigger-width);
  max-width: var(--radix-select-trigger-width);

  //max-height: 72px;
  border: 1px solid var(--dark-100);
  border-top: 0;

  &[data-state='open'] {
    background-color: var(--dark-500);
    border-color: var(--light-100);
    animation: selectSlideDown 450ms ease-out;
  }

  &:not([data-state='open']) {
    animation: selectSlideUp 450ms ease-in;
  }
}

.contentSmall {
  composes: content;
  border: none;
}

.listItem {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  justify-content: start;

  &[data-highlighted] {
    width: 100%;
    background-color: var(--dark-300);
    color: var(--primary-500);
    outline: none;
  }

  span {
    display: block;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}

.listItemSmall {
  composes: listItem;
  padding: 0;
  justify-content: center;

  span {
    display: none;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

@keyframes selectSlideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes selectSlideUp {

  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.icon {
  height: 20px;
  width: 20px;
}

.iconSmall {
  height: 24px;
  width: 24px;
}

.triggerSmall {
  composes: trigger;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0;
  border: none;

  span {
    display: none;
  }

  .arrowDown {
    position: static;
    transform: translate(-50%, -50%);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
