.profileWrapper {
  padding-top: 36px;
  display: flex;
  gap: 38px;
  margin-bottom: 48px;
}

.content {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.profileButton {
  @media screen and (width >= 768) {
    height: 36px;
  }

  @media screen and (width <= 768) {
    height: 48px;
  }
}

.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.userName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & > h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: var(--light-100);
    margin: 0;
  }
}

.profilePicture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    border-radius: 50%;
  }
}

.buttonsBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.counters {
  width: 100%;

  & > ul {
    display: flex;
    align-items: center;
    gap: 88px;

    & > li {
      & > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: var(--font-size-s);

        & > span {
          font-weight: 400;
        }
      }
    }
  }

  @media screen and (width <= 768) {
    display: none;
  }
}

.name {
  font-weight: 600;
  font-size: var(--font-size-xs);
}

.bio {
  max-height: 72px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  & > p {
    font-size: var(--font-size-m);
    font-weight: 400;
    color: var(--light-100);
  }
}

@media screen and (width <= 768px) {
  .profilePicture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;

    & > img {
      width: 72px;
      height: 72px;
    }

    & > .countersMobile {
      & > ul {
        display: flex;
        gap: 26px;
        font-size: var(--font-size-xs);

        & > li > a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .profileWrapper {
    flex-direction: column;
    gap: 8px;
  }

  .userInfo {
    flex-direction: column;
    gap: 16px;
  }

  .buttonsBlock {
    & > button {
      width: 100%;
      height: 48px;
    }

    flex-direction: column;
  }

  .countersMobile {
    display: flex;
  }

  .counters {
    display: none;
  }
}

.countersMobile {
  @media screen and (width >= 768) {
    display: none;
  }
}
