.header {
  border-bottom: 1px solid var(--dark-300);
  width: 100%;
}

.headerBody {
  min-height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 24px;

}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  @media (max-width: 768px) {
    display: none;
  }
}
.link{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--primary-500);
  padding: 6px 24px;
  outline: none;
  border: 2px solid transparent;
  display: inline-grid;
  place-items: center;

  &:active{
    color: var(--primary-700);
  }
  transition: all 0.3s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-100);
    }
  }
  &:focus-visible{
    border: 2px solid var(--primary-700);
    border-radius: 2px;
  }
}

.linkBlue{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--light-100);
  padding: 6px 24px;
  outline: none;
  background: var(--primary-500);
  border: 2px solid var(--primary-500);
  display: inline-grid;
  place-items: center;

  &:active{
    color: var(--primary-700);
  }
  transition: all 0.3s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-100);
      background: transparent;
      border-color: transparent;
    }
  }
  &:focus-visible{
    border: 2px solid var(--primary-700);
    border-radius: 2px;
  }
}