.body {
  padding: 24px 0;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  font-size: 14px;
  line-height: 171%;
  text-align: center;
}

.backLink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 23px;
}
