.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  gap: 12px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.actions {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  flex-shrink: 0;
}

.topLeft {
  display: flex;
  gap: 12px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottomBlock {
  max-width: 150px;
  height: 30px;
}

.bottomTime {
  width: 60px;
  height: 14px;
}
