.closeButton {
  position: absolute;
  top: -30px;
  right: -30px;
  color: var(--ligth-100);
  padding: 0;
  width: 30px;
  height: 30px;

  @media (width <= 768px) {
    top: -25px;
    right: -25px;
  }
}
